---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=701500678be13b38d8fc3b7e299ff456b26e337d&ip=109.235.143.113&locale=de&offer_types=112&page=2&pub0=campaign2&timestamp=1430445315&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 23bb9c4557d386a93e7dbe55cfd056f54746e53f
      X-Sponsorpay-Response-Code:
      - OK
    body:
      encoding: UTF-8
      string: '{"code":"OK","message":"Ok","count":30,"pages":5,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=player1"},"offers":[{"title":"Telekom
        Smartphone","offer_id":503178,"teaser":"Formular ausf\u00fcllen\r\nGewinnspiel
        freischalten\r\nRegistrierungsmail best\u00e4tigen","required_actions":"Formular
        ausf\u00fcllen\r\nGewinnspiel freischalten\r\nRegistrierungsmail best\u00e4tigen","link":"http://api.sponsorpay.com/27ad965403fe0c270568a8321809af8e/6fc971d3eddb3f9a/mobile/DE/157/offers/503178/preview","offer_types":[{"offer_type_id":105,"readable":"Registrierung"},{"offer_type_id":112,"readable":"Gratis"}],"payout":40943,"time_to_payout":{"amount":1800,"readable":"30
        Minuten"},"thumbnail":{"lowres":"http://cdn3.sponsorpay.com/assets/174/survey_icon_square_60.png","hires":"http://cdn3.sponsorpay.com/assets/174/survey_icon_square_175.png"},"store_id":""},{"title":"JuanaChat","offer_id":496155,"teaser":"Herunterladen
        und STARTEN","required_actions":"Herunterladen und STARTEN","link":"http://api.sponsorpay.com/27ad965403fe0c270568a8321809af8e/ac194093eaf6460c/mobile/DE/157/offers/496155","offer_types":[{"offer_type_id":101,"readable":"Download"},{"offer_type_id":112,"readable":"Gratis"}],"payout":9634,"time_to_payout":{"amount":59400,"readable":"17
        Stunden"},"thumbnail":{"lowres":"http://cdn3.sponsorpay.com/app_icons/37092/smal[...]
