---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=cf536893187623030460b5cfbb8619380eae8b9c&ip=109.235.143.113&locale=de&offer_types=112&page=2&pub0=campaign2&timestamp=1430445231&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - a2a4e5ed6cab4c1290ee53e3c3b66e59da2fce60
      X-Sponsorpay-Response-Code:
      - OK
    body:
      encoding: UTF-8
      string: '{"code":"OK","message":"Ok","count":30,"pages":5,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=player1"},"offers":[{"title":"iDates
        - Chat, Flirt & Date","offer_id":501168,"teaser":"Herunterladen und STARTEN","required_actions":"Herunterladen
        und STARTEN","link":"http://api.sponsorpay.com/6eda9b67fef807374137027e7420b723/6791dc2e8b219d16/mobile/DE/157/offers/501168","offer_types":[{"offer_type_id":101,"readable":"Download"},{"offer_type_id":111,"readable":"Registrierung"},{"offer_type_id":112,"readable":"Gratis"}],"payout":7225,"time_to_payout":{"amount":600,"readable":"10
        Minuten"},"thumbnail":{"lowres":"http://cdn2.sponsorpay.com/app_icons/35412/small_mobile_icon.png","hires":"http://cdn2.sponsorpay.com/app_icons/35412/big_mobile_icon.png"},"store_id":"com.idates.app"},{"title":"Prospekte,
        Angebote & Shopping","offer_id":504843,"teaser":"Herunterladen und STARTEN","required_actions":"Herunterladen
        und STARTEN","link":"http://api.sponsorpay.com/6eda9b67fef807374137027e7420b723/d3656085bbbce542/mobile/DE/157/offers/504843","offer_types":[{"offer_type_id":101,"readable":"Download"},{"offer_type_id":112,"readable":"Gratis"}],"payout":7817,"time_to_payout":{"amount":300,"readable":"5
        Minuten"},"thumbnail":{"lowres":"http://[...]
