---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=37219896436fe735f4772a838fb5a483d6c8f6f2&ip=109.235.143.113&locale=de&offer_types=112&page=2&pub0=campaign2&timestamp=1430444942&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 59c9af6591eecf9a9b25aa8ac3e04d17e0f3de7e
      X-Sponsorpay-Response-Code:
      - OK
    body:
      encoding: UTF-8
      string: '{"code":"OK","message":"Ok","count":30,"pages":5,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=player1"},"offers":[{"title":"Gutscheine
        im Wert von je \u20ac300","offer_id":495465,"teaser":"Registriere dich mit
        korrekten Daten ","required_actions":"Registriere dich mit korrekten Daten
        ","link":"http://api.sponsorpay.com/4d8d349542745aec579ba948b59c5bf6/b3a7654a2fff9285/mobile/DE/157/offers/495465","offer_types":[{"offer_type_id":104,"readable":"Registrierung"},{"offer_type_id":108,"readable":"Registrierung"},{"offer_type_id":112,"readable":"Gratis"}],"payout":85739,"time_to_payout":{"amount":2400,"readable":"40
        Minuten"},"thumbnail":{"lowres":"http://cdn4.sponsorpay.com/assets/6095/grocery_square_60.PNG","hires":"http://cdn4.sponsorpay.com/assets/6095/grocery_square_175.PNG"},"store_id":""},{"title":"Takatap","offer_id":503820,"teaser":"Herunterladen
        und STARTEN","required_actions":"Herunterladen und STARTEN","link":"http://api.sponsorpay.com/4d8d349542745aec579ba948b59c5bf6/bce4bc26994480dd/mobile/DE/157/offers/503820","offer_types":[{"offer_type_id":101,"readable":"Download"},{"offer_type_id":112,"readable":"Gratis"}],"payout":4817,"time_to_payout":{"amount":300,"readable":"5
        Minuten"},"thumbnail":{"lowres":"http://cdn2.sponsorpay.com/app_icons/37599/small_mob[...]
