---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b83&hashkey=6549901e541674d6ef75b9bf18ff4eb8fa3e1f19&ip=109.235.143.113&locale=de&offer_types=112&page=2&pub0=campaign2&timestamp=1430438137&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - e705a5da62193cbd4f5e464aafd445f0be2fc854
      X-Sponsorpay-Response-Code:
      - OK
    body:
      encoding: UTF-8
      string: '{"code":"OK","message":"Ok","count":30,"pages":5,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=player1"},"offers":[{"title":"Schauen
        Sie sich die AppWall","offer_id":503913,"teaser":"Lade dir die App herunter
        und installiere sie auf deinem phone","required_actions":"Lade dir die App
        herunter und installiere sie auf deinem phone","link":"http://api.sponsorpay.com/956315ae732e100a62bcc14cb2680820/6a78f17756624671/mobile/DE/157/offers/503913","offer_types":[{"offer_type_id":101,"readable":"Download"},{"offer_type_id":112,"readable":"Gratis"}],"payout":24566,"time_to_payout":{"amount":2100,"readable":"35
        Minuten"},"thumbnail":{"lowres":"http://cdn3.sponsorpay.com/assets/14953/Apple_square_60.jpg","hires":"http://cdn3.sponsorpay.com/assets/14953/Apple_square_175.jpg"},"store_id":""},{"title":"mobile-pocket
        loyalty cards","offer_id":504192,"teaser":"Herunterladen und STARTEN","required_actions":"Herunterladen
        und STARTEN","link":"http://api.sponsorpay.com/956315ae732e100a62bcc14cb2680820/5d0bd421fcf96d6a/mobile/DE/157/offers/504192","offer_types":[{"offer_type_id":101,"readable":"Download"},{"offer_type_id":112,"readable":"Gratis"}],"payout":7418,"time_to_payout":{"amount":300,"readable":"5
        Minuten"},"thumbnail":{"lowres":"http://cdn2.sponsorpay.c[...]
